@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

// font-family: 'Anton', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Pacifico', cursive;

$primary-color: #3aafa9;
$scondary-color:#17252a;
$show-home-image: true;
$background-opacity: 0.7;
$font-body:'Roboto', sans-serif;
// text color
